:root {
    --pink: #FF8984;
    --header-back: #4A4F56;
    --main-back: #3B3F45;
    --check-odd: #88839E;
    --check-even: #7A7593;
    --check-hover: #625E77;
    --button-color: #4a4f56ff;
    --checked-text: #9B96AC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}

body {
    font-family: 'Roboto';
    font-size: 1.125rem;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    transition: all .2s ease-in;
}

.container {
    width: 534px;
    /*800px*/
    margin: 0 auto;
    padding: 12px 0 12px 0;
}

header {
    background-color: var(--header-back);

    hgroup {
        text-align: center;
        color: var(--pink);

        h1 {
            font-size: 1.5rem;
            margin: 7px 0 4px 0;
        }

        p {
            font-size: 1rem;
        }
    }
}

/* BODY */
.shopping-list {
    background-color: var(--main-back);
    height: 100dvh;

    ul li {
        background-color: var(--check-odd);
        align-items: center;
        height: 100%;
        width: 100%;
        display: inline-block;

        &:nth-child(even) {
            background-color: var(--check-even);
        }

        &:last-child {
            margin-bottom: 45px;
        }

    }

    .container {
        padding-top: 20px;
    }

    .form-checkbox {
        width: 534px;
        height: 45px;

        &:hover {
            /* for inline border? height*/
            background-color: var(--check-hover);
            /* border-top: 3px solid #fff;
            border-bottom: 3px solid #fff; */
        }

        label {
            position: relative;
            display: block;
            cursor: pointer;

            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            height: 45px;

            &::before,
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
            }

            &:hover {
                border-color: white;
            }

            &::before {
                width: 19px;
                height: 19px;
                background-color: white;
                /* left: 15px;
                top: 15px; */
                margin: 9px 0 11px 12px;
            }

            &::after {
                display: none;
                border-left: 3px solid black;
                border-bottom: 3px solid black;
                width: 7px;
                height: 3px;
                rotate: -47deg;
                left: 16.5px;
                top: 14px;
            }

            &>span {
                cursor: pointer;
                display: inline-block;
                padding: 8px 0 13px 0;
                margin-left: 47px;
                position: relative;
            }

            &>span::after {
                content: '';
                display: none;
                width: 100%;
                height: 1px;
                background-color: var(--checked-text);
                position: absolute;
                left: 0;
                top: 19px;
            }
        }

        /* input[type="checkbox"]:checked~p, */
        input[type="checkbox"]:checked~label {

            &::after {
                display: inline-block;
            }

            span {
                color: var(--checked-text);

                &::after {
                    display: inline-block;
                }
            }
        }

        .small {
            display: inline-block;
            font-size: 0.688rem;
            padding: 1px 0 0 8px;
            vertical-align: middle;
            height: 16px;
        }

        input[type="checkbox"] {
            display: none;
        }

        /* &:has(input[type="checkbox"]:active) {
            background-color: var(--pink);
        } */

        input[type="checkbox"]:active~label {
            background-color: var(--pink);
        }

        .small::before {
            content: "(";
        }

        .small::after {
            content: ")";
        }
    }
}

.btn {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: var(--button-color);
    width: 100%;
    height: 45px;
    color: var(--pink);
    border: none;
    font-size: 1.125rem;

    &:hover {
        background-color: rgba(74, 79, 86, 0.7);
        cursor: pointer;
    }

    :active {
        background-color: var(--pink);
        color: #fff;
    }
}

.btn-wrap {
    padding-bottom: 33px;
}