@import 'fonts';

$text-color: #545454;
$text-heavy: #1C1C1C;
$border-color: #E4E4E4;
$border-active: #007BFF;
$accent-color: #969696;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a,
button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: $border-active;
    font-family: Inter, sans-serif;
    line-height: 1.125rem;
    letter-spacing: -0.00625rem;
}

button {
    cursor: pointer;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-position: top top;
}

.container {
    width: min(90%, 570px);
    margin: 0 auto;
}

body {
    color: $text-color;
    font-family: Roboto, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: -0.0125rem;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        flex-grow: 1;
    }
}


.img-wrap {
    aspect-ratio: 4/3;
    max-width: 280px;
}


// Create
body {
    background-color: #F7F7F7;

    .container {
        background-color: #fff;
        padding: 35px 34px 16px 36px;
        margin: 55px auto;
        border-radius: 6px;
    }
}

.form-wrap {
    form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // gap: 12px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    h2 {
        color: $text-heavy;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 20px;
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    select {
        color: $text-color;
        font-family: Inter;
        font-size: 0.9375rem;
        border: 1px solid $border-color;
        border-radius: 6px;
        padding: 9px 10px;
        width: 100%;

        // &:disabled {
        //     color: $text-color;
        // }

        &:focus {
            border-color: $border-active;
            outline: none;
        }
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
        appearance: none;

        &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid $border-color;
            border-radius: 50%;
            vertical-align: bottom;
        }

        &:checked::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 6px solid $border-active;
            border-radius: 50%;
            vertical-align: bottom;
        }
    }

    .accent {
        color: $accent-color;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        letter-spacing: -0.00625rem;
        text-align: center;

        a {
            padding: 0px 4px 0 3px;
        }

        &.terms {
            padding: 0 52px 20px 52px;
            border-bottom: 1px solid $border-color;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    gap: 12px;
    margin-bottom: 20px;

    &:nth-child(6) {
        margin-bottom: 22px;
    }

    // &.email {
    //     padding: 20px 0;

    //     input[type="email"] {
    //         width: 500px;
    //     }
    // }
}

.form-element {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    width: 100%;
}

label {
    margin-right: 9px;

    input[type="radio"] {
        margin-right: 8px;
    }
}


.select2-container--default .select2-selection--single {
    border: 1px solid $border-color;
    border-radius: 6px;
    // height: 38px;
    // outline: none;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 4px 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $text-color;

    &:disabled {
        color: $accent-color;
    }
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $border-active;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background: no-repeat url('../img/Arrow_icon.svg') center center/ 18px 18px;
    height: 36px;
    width: 36px;

    b {
        display: none;
    }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    color: $text-color;
    font-family: Inter;
    font-size: 0.9375rem;
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: 9px 10px;
    width: 100%;

    &:focus {
        border-color: $border-active;
        outline: none;
    }
}

.btn {
    // width: 100%;
    background-color: $border-active;
    border: 1px solid $border-color;
    color: #fff;
    border-radius: 6px;
    padding: 10px 51px;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 0.6px;

    &.big {
        width: 100%;
    }
}

.login {
    text-align: center;
    width: 100%;

    span {
        padding-right: 17px;
    }

    a {
        font-weight: 500;
    }
}


// Profile
.avatar {
    width: 80px;

    margin-right: 8px;

    img {
        width: 80px;
        height: 80px;
    }

    border-radius: 50%;
}

.file-wrap {
    display: flex;
    color: $text-color;
    font-family: Inter;
    font-size: 0.9375rem;
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: 9px 10px;
    width: 138px;
    // width: 100%;
    height: 30px;
    position: relative;
    margin-bottom: 1px;
    background: no-repeat url('../img/camera_icon.svg') 112px 8px / 18px 12px;

    &:focus {
        border-color: $border-active;
        // outline: none;

    }

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &::-webkit-file-upload-button {
            visibility: hidden;
            /* Скрываем дефолтную кнопку */
        }
    }
}

.file-wrap+span {
    color: $accent-color;
    font-size: 0.8125rem;
    line-height: 1.188rem;
    /* 138.462% */
    letter-spacing: -0.00625rem;
    min-width: 141px;
}

.form-element {
    &:has(.file-wrap) {
        width: revert;
        margin-top: 11px;
    }

    button {
        width: 30px;
        height: 30px;
        border-radius: 6px;
        border: 1px solid $border-color;
        background-color: transparent;
        background: no-repeat url("../img/can_icon.svg") center center / 12px 12px;
    }
}

.container {
    background-color: #fff;
    padding: 35px 34px 16px 36px;
    margin: 55px auto;
    border-radius: 6px;
}

// pxl perfect
.create-page {
    .form-row:nth-child(5) {

        gap: 10px;

        .select2 select2-container select2-container--default {
            width: 245px;
        }
    }

    .form-row:nth-child(2) {

        .form-element:first-child {
            margin-left: -2px;

        }
    }

    .form-row.email span.accent {
        line-height: 17px;

    }

    label {
        input {
            margin-top: 2px;
            line-height: 19px;
        }

        &[for="female"] {
            margin-left: 1px;
        }
    }
}


.profile-page {
    .container {
        padding: 35px 35px 82px 35px;

        .form-row:nth-child(2) {
            .form-element:nth-child(3) {
                margin-top: 11px;
                margin-left: -5px;
            }

        }

        .form-row:not(:nth-child(2)) {
            gap: 10px;
        }
    }
}