@media screen and (max-width: 1104px) {
    .page-wrapper main {
        padding-top: 60px;
    }

    header {
        height: 60px;

        .container {

            .btn img {
                max-width: 20px;
                max-height: 20px;
            }

            &>picture {
                max-height: 20px;
                margin-bottom: -6px;
            }
        }

        .header-right {
            gap: 39px;
        }

        .hamburger {
            display: inline-block;
            position: relative;
            max-height: 22px;
            top: -1px;
            right: -.4px;
        }

        .img-wrap {
            height: 13px;
        }

        nav {
            display: none;
        }

        .btn {
            height: 20px;
            width: 20px;
            margin-left: 3%;

            picture {
                width: 20px;
                height: 20px;
                display: inline-block;
            }

            &:first-child {
                :first-child {
                    position: relative;
                    top: 1px;
                    right: 2px;
                }
            }
        }
    }

    .container {
        width: min(91%, 1170px);
    }

    .hero-section {

        margin-bottom: 70px;
        min-height: 460px;
        padding-top: 30.5px;

        h1 {
            font-size: 2.25rem;
            line-height: 3.125rem;
            letter-spacing: 0.1125rem;
            // margin-left: -4px;
        }
    }

    .blog-section {
        margin-bottom: 69px;

        li {
            gap: 20px;

            &:last-child {
                gap: 20px;

                .img-wrap img {
                    right: -.5px;
                }

                .content {
                    p a {
                        bottom: 1px;
                    }
                }
            }
        }

        .content {
            p a {
                bottom: -1px;
            }
        }


        .blog-list {

            hgroup {
                &>p:last-child {
                    margin-bottom: 13px;
                }
            }

            hgroup {
                margin-top: 0;
            }
        }

        .img-wrap {
            max-width: 340px;
            max-height: none;

            img {
                position: relative;
                right: .5px;
            }
        }
    }

    .posts-section {
        margin-bottom: 36px;

        .posts-list {
            display: block;

            li {
                display: flex;
                flex-direction: row;
                gap: 19px;
                max-width: none;

                &:first-child img {
                    object-position: left;
                }

                &:nth-child(2n) {
                    flex-direction: row-reverse;

                    .figure {
                        right: -.5px;
                    }

                    .figcaption {
                        position: relative;
                        left: -106%;

                        &:last-child {
                            margin-right: 3px;
                        }
                    }

                    .content {
                        padding: 45px 0 0 0;
                    }
                }
            }

            .figure {
                max-width: 340px;
                position: relative;
                right: 0.5px;
                margin-bottom: -17px;

                .figcaption {
                    position: relative;
                    bottom: 93%;
                    left: 106%;
                }
            }

            .img-wrap {
                max-width: 340px;
                height: 240px;
            }

            .content {
                max-width: 340px;
                padding: 44px 0 0 1px;
            }
        }
    }

    .most-popular-section {
        margin-bottom: 70px;

        .popular-list {
            margin-bottom: 65px;
            gap: 19px;
            justify-content: space-evenly;
        }

        li {

            .figure {
                max-width: 340px;

                .figcaption:last-child {
                    margin-right: 3px;
                }
            }

            .img-wrap {
                position: relative;
                max-width: 340px;
                height: 160px;
                right: -.5px;
            }

            &:first-child {
                .img-wrap {
                    right: .5px;
                }
            }

            .content {
                max-width: 340px;
            }

            &:last-child {
                h3 {
                    margin-bottom: 21px;
                }
            }
        }

        h3 {
            font-size: 1.375rem;
            letter-spacing: 0.1375rem;
            margin-bottom: 21px;
        }

        .btn-wrap {
            margin-bottom: 70px;
        }

        .section-footer {
            display: block;

            &>p {
                padding-bottom: 32px;
            }

            .smaller-text {
                text-align: end;
                padding-left: 10px;

                p {
                    width: 100%;
                    max-width: none;
                }

                p:first-child {
                    margin-bottom: 21px;
                }
            }
        }
    }

    footer {
        padding: 50px 198px;
        text-align: center;

        .container {
            width: min(100%, 1170px);
        }

        h2 {
            letter-spacing: 0.141rem;
            margin-bottom: 20px;

            &+span {
                margin-bottom: 14px;
            }
        }

        span:last-child {
            margin-bottom: 47px;
        }

        ul {
            position: relative;
            left: 13.8%;
        }

        .copyright {
            position: relative;
            bottom: -42px;
        }
    }
}

@media screen and (max-width: 544px) {
    .posts-section .posts-list .figure .figcaption {
        left: 0;
    }

    .container {
        width: min(94%, 300px);
    }

    header {
        .container>picture {
            margin-right: 0;
        }
    }

    .hero-section {
        height: 500px;
        padding-top: 70px;

        h1 {
            font-size: 1.875rem;
            letter-spacing: 0.09375rem;
        }
    }

    .blog-section {
        text-align: center;

        .blog-list {
            li {
                flex-direction: column-reverse;
                text-align: left;
                gap: 38px;

                h3 {
                    font-size: 1.375rem;
                    letter-spacing: 0.1375rem;
                    margin-bottom: 11px;
                }

                &:last-child .img-wrap {
                    right: .5px;
                    top: -.5px;
                }
            }

            hgroup p:first-child {
                margin-bottom: 30px;
            }

            hgroup p:last-child {
                margin-bottom: 38px;
            }

            .content {
                &>p {
                    letter-spacing: 0.063rem;
                }
            }

            .img-wrap {
                max-width: 300px;
                height: 250px;
                position: relative;
                right: -1px;
            }
        }
    }

    .posts-section {

        .h-div {
            display: block;
            margin-bottom: 27.5px;

            h2 {
                line-height: 2.25rem;
                letter-spacing: 0.0875rem;
                display: block;
                margin-bottom: 8px;
            }

            a {
                position: static;
            }
        }

        .posts-list {
            margin-bottom: 65px;

            li {
                flex-direction: column;
                margin-bottom: 49px;

                &:nth-child(2n) {
                    flex-direction: column;

                    .figure {
                        right: .5px;
                    }

                    .figcaption {
                        position: static;
                        font-size: 1rem;
                        letter-spacing: 0.1rem;
                    }

                    .content {
                        padding: 21px 0 0;

                        h3 {
                            margin-bottom: 22px;
                        }
                    }

                    // .img-wrap {
                    //     right: .5px;
                    // }
                }

                .figcaption {
                    position: static;
                    font-size: 1rem;
                    letter-spacing: 0.1rem;
                }

                .content {
                    padding: 21px 0 0 0px;
                }
            }

            .img-wrap {
                width: 300px;
                height: 210px;
                position: relative;
                right: -.5px;
            }
        }
    }

    .most-popular-section {
        .h-div {
            display: block;
            margin-bottom: 27px;

            h2 {
                margin-bottom: 3px;
                letter-spacing: 0.0875rem;
            }

            a {
                position: static;
            }
        }

        .popular-list {
            display: block;
            margin-bottom: 92px;

            li {
                margin-bottom: 50px;

                &:last-child {
                    h3 {
                        margin-bottom: 11px;
                    }
                }
            }

            .img-wrap {
                width: 300px;
                height: 150px;
                margin-bottom: 21px;
                right: .1px;
                top: -0.5px;
            }

            .figure {
                margin-bottom: 10px;
            }

            .figcaption {
                font-size: 1rem;
                letter-spacing: 0.1rem;
                line-height: 1.75rem;
            }

            h3 {
                font-weight: 600;
                padding-right: 1px;
                margin-bottom: 13px;
                line-height: 2.313rem;
            }

            .btn-wrap {
                margin-bottom: 71px;
            }
        }


        .section-footer {
            p {
                font-size: 1.5rem;
                letter-spacing: 0.15rem;
                padding: 0;
                margin-bottom: 10px;

                span {
                    bottom: 5px;
                }
            }

            .smaller-text {
                text-align: unset;
                padding: 0;

                p {
                    font-size: 1.125rem;
                    letter-spacing: 0.05625rem;
                    line-height: 2rem;
                }
            }
        }
    }

    footer {
        text-align: center;
        padding: 38px 0 0 0;

        .container {
            display: block;
        }

        h2 {
            font-size: 2rem;
            letter-spacing: 0.1rem;
            margin-bottom: 9px;

            &+span {
                margin-bottom: 16px;
            }
        }

        .info span {
            font-size: 1.125rem;
            letter-spacing: 0.1125rem;

            &:last-child {
                margin-bottom: 38px;
            }
        }

        .copyright {
            font-size: 1rem;
            letter-spacing: 0.1rem;
            position: static;
        }

        .soc-list {
            position: static;
            margin-bottom: 40px;
            justify-content: center;
        }

    }
}