@use 'fonts';
@use 'hamburger' as *;

$text-color: #565656;
$text-accent-color: #7B7B7B;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a,
button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    background: none;
    border: none;
}

button {
    cursor: pointer;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-position: top top;
}

// .img-wrap {
// aspect-ratio: 4/3;
// max-width: 280px;
// }

.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}

body {
    font-size: 1rem;
    color: $text-color;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: 0.05625rem;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        flex-grow: 1;
    }
}

.btn:not(header .btn) {
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 166%;
    letter-spacing: 0.1rem;

    background-color: $text-color;
    padding: 10px 45px;
}

.btn:hover:not(header .btn) {
    background-color: #a3dde0;
    color: #565656;
}

.hamburger {
    display: none;
}

// Header
header {
    padding: 40px 0;

    // .img-wrap {
    //     max-height: 20px;
    //     margin-bottom: -7px;
    //     margin-right: 32.7%;
    // }


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>picture {
            max-height: 20px;
            margin-bottom: -7px;
            // margin-right: 32.7%;
            margin-right: 29.7%;
        }

        .short-nav img {
            max-width: 17px;
            max-height: 16px;
        }

    }

    nav {
        width: 100%;
        max-width: 500px;
    }

    .nav-list {
        display: flex;
        font-size: 0;
        // gap: 38px;
        max-height: 20px;

        li {
            font-size: 0.875rem;
            line-height: normal;
            letter-spacing: 0.2625rem;
            text-transform: uppercase;
            line-height: 1.313rem;

            &:not(:last-child) {
                margin-right: 38px;
            }
        }
    }

    a {
        position: relative;
        transition: .2s ease;

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            // width: 40px;
            width: 0;
            background-color: #000;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover::after {
            width: 67%;
        }
    }

    .btn {
        height: 18px;
        width: 17px;
        margin-left: 3%;

        &:first-child {
            vertical-align: top;
        }
    }

    .short-nav {
        max-height: 18px;
    }
}

// Section 1 - Hero Section
.hero-section {
    background: url(../img/bg-image.jpg) center center/cover no-repeat;
    height: 600px;
    padding-top: 100px;
    margin-bottom: 90px;

    h1 {
        color: #000;
        font-family: "Red Hat Display", sans-serif;
        font-size: 3rem;
        font-weight: 600;
        line-height: 4rem;
        letter-spacing: 0.15rem;
        max-width: 1000px;
    }
}

// Section 2 - Blog Section
.blog-section {
    margin-bottom: 90px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    h2 {
        color: #000;
        font-family: "Red Hat Display", sans-serif;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4rem;
        letter-spacing: 0.15rem;
    }
}

.blog-list {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 50px;

    li {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: relative;

        &:first-child {
            margin-bottom: 50px;
        }

        &:last-child {
            flex-direction: row-reverse;
            justify-content: flex-start;
            gap: 37px;

            h3 {
                max-width: 370px;
            }

            .content {
                max-height: 450px;
            }


            p {
                a {
                    font-family: Arrow;
                    font-size: 12px;
                    margin-left: 0;
                    position: relative;
                    bottom: -2px;
                    right: -16px;
                }
            }
        }
    }

    hgroup {
        margin-top: 86px;

        p {
            color: $text-accent-color;
            line-height: 166%;
            letter-spacing: 0.1rem;

            &:first-child {
                margin-bottom: 22px;
                line-height: 27px;
            }

            &:last-child {
                margin-bottom: 48px;
            }
        }

        h3 {
            color: #000;
            font-family: "Red Hat Display", sans-serif;
            font-size: 1.4375rem;
            font-weight: 500;
            line-height: 166%;
            letter-spacing: 0.14375rem;
            margin-bottom: 9px;
            max-width: 370px;
        }
    }

    .content {
        max-width: 450px;

        &>p {
            max-width: 443px;
            line-height: 166%;
            letter-spacing: 0.05rem;
            position: relative;

            a {
                font-family: Arrow;
                font-size: 12px;
                margin-left: 17px;
                position: absolute;
                bottom: -3px;
            }
        }
    }
}

// Section 3 - Posts
.posts-section {
    margin-bottom: 112px;

    .content {
        max-width: 370px;
    }

    h2 {
        color: #000;
        font-family: "Red Hat Display", sans-serif;
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 166%;
        letter-spacing: 0.175rem;
        display: inline-block;
        margin-bottom: 41px;
    }

    .posts-list {
        display: flex;
        gap: 30px;
    }

    .img-wrap {
        max-width: 370px;
        max-height: 260px;
        margin-bottom: 27px;

    }

    li {
        display: inline-block;
        max-width: 370px;
    }

    .figure {
        max-width: 370px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 24px;

        .figcaption {
            display: inline-block;
            color: $text-accent-color;
            font-size: 0.75rem;
            line-height: 166%;
            letter-spacing: 0.075rem;
        }
    }

    h3 {
        color: #000;
        font-family: "Red Hat Display", sans-serif;
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 166%;
        letter-spacing: 0.1375rem;
        margin-bottom: 17px;
    }

    p {
        color: $text-color;
        line-height: 166%;
        letter-spacing: 0.05rem;
    }
}

.h-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


h2+a {
    color: $text-accent-color;
    line-height: 166%;
    letter-spacing: 0.1rem;

    position: relative;
    top: 6px;
    right: 16px;

    span {
        font-family: Arrow;
        font-size: 12px;
        position: relative;
        right: -19px;
        top: -1px;
    }
}

// Section 4 - Most Popular
.most-popular-section {
    margin-bottom: 90px;

    .content {
        max-width: 570px;
    }

    h2 {
        color: #000;
        font-family: "Red Hat Display", sans-serif;
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 166%;
        letter-spacing: 0.175rem;

        &+a {
            top: 11px;

            span {
                top: -2px;
            }
        }
    }

    .h-div {
        margin-bottom: 46px;
    }

    .img-wrap {
        max-width: 570px;
        max-height: 260px;
        margin-bottom: 20px;
    }

    .popular-list {
        display: flex;
        gap: 30px;
        margin-bottom: 53px;
    }

    li {
        display: inline-block;
        max-width: 570px;

        &:last-child {
            h3 {
                margin-bottom: 18px;
            }

            p {
                max-width: 540px;
            }
        }
    }

    .figure {
        max-width: 570px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 21px;

        .figcaption {
            display: inline-block;
            color: $text-accent-color;
            font-size: 0.75rem;
            line-height: 166%;
            letter-spacing: 0.075rem;
        }
    }

    h3 {
        color: #000;
        font-family: "Red Hat Display", sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 166%;
        letter-spacing: 0.15rem;
        margin-bottom: 16px;
    }

    p {
        color: $text-color;
        line-height: 166%;
        letter-spacing: 0.05rem;
    }

    .btn-wrap {
        text-align: center;
        margin-bottom: 90px;
    }

    .section-footer {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            max-width: 470px;
        }

        &>p {
            color: #000;
            font-family: "Red Hat Display", sans-serif;
            font-size: 1.4375rem;
            line-height: 166%;
            letter-spacing: 0.14375rem;
        }

        .smaller-text {
            color: $text-color;
            font-size: 1.1875rem;
            line-height: 2rem;
            letter-spacing: 0.05938rem;

            p:first-child {
                margin-bottom: 34px;
            }
        }

        span {
            display: block;
            font-family: Arrow;
            font-size: 12px;
            margin-left: 0;
            position: relative;
            bottom: -1px;
        }
    }
}

// Footer
footer {
    background-color: #F4F4F4;
    padding: 70px 135px;
    position: relative;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h2 {
        color: #000;
        font-family: "Red Hat Display", sans-serif;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4rem;
        letter-spacing: 0.15rem;
        margin-bottom: 27px;

        &+span,
        &+span+span {
            color: #000;
            line-height: 166%;
            letter-spacing: 0.1rem;
            display: block;
        }

        &+span {
            margin-bottom: 13px;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        align-content: center;
    }

    li {
        display: inline-block;
        position: relative;
        top: 2px;
        max-width: 50px;
        max-height: 50px;
    }

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 1px solid #535353;

        &:hover {
            background-color: $text-color;

            svg {
                fill: #fff;
                scale: 1.25;
            }
        }
    }

    svg {
        max-width: 50px;
        max-height: 50px;
        padding: 12px;

        fill: $text-color;
        padding: 13px;
        position: relative;
        right: 1px;
        top: -1px;
    }

    .copyright {
        position: absolute;
        bottom: 26px;

        color: #000;
        font-size: .75rem;
        line-height: 166%;
        letter-spacing: .075rem;
        left: 50%;
        transform: translateX(-51%);
    }
}

@media screen and (max-width: 1104px) {

    header {
        padding: 19px 0;

        .container {

            .short-nav img {
                max-width: 20px;
                max-height: 20px;
            }

            &>picture {
                max-height: 20px;
                margin-bottom: -6px;
            }
        }

        .hamburger {
            display: inline-block;
            position: relative;
            max-height: 22px;
            top: -1px;
            right: 2.5px;
        }

        .img-wrap {
            height: 13px;
        }

        nav {
            display: none;
        }

        .short-nav {
            display: flex;
            gap: 40px;
            position: relative;
            max-height: 22px;
        }

        .btn {
            height: 20px;
            width: 20px;
            margin-left: 3%;

            picture {
                width: 20px;
                height: 20px;
                display: inline-block;
            }

            &:first-child {
                :first-child {
                    position: relative;
                    top: 1px;
                    right: 2px;
                }
            }
        }
    }

    .container {
        width: min(91%, 1170px);
    }

    .hero-section {

        margin-bottom: 70px;
        height: 320px;
        padding-top: 31px;

        h1 {
            font-size: 2.25rem;
            line-height: 3.125rem;
            letter-spacing: 0.1125rem;
            // margin-left: -4px;
        }
    }

    .blog-section {
        margin-bottom: 69px;

        li {
            gap: 20px;

            &:last-child {
                gap: 20px;

                .img-wrap img {
                    right: -.5px;
                }
            }
        }

        .content {
            &>p a {
                margin-left: 23px;
            }
        }

        .blog-list {

            hgroup {
                &>p:last-child {
                    // margin-bottom: 39px;
                    margin-bottom: 13px;
                }

                +p {
                    span {
                        // display: none;
                    }
                }
            }

            hgroup {
                margin-top: 0;
            }
        }

        .img-wrap {
            max-width: 340px;
            max-height: none;

            img {
                position: relative;
                right: .5px;
            }
        }
    }

    .posts-section {
        margin-bottom: 36px;

        .posts-list {
            display: block;

            li {
                display: flex;
                flex-direction: row;
                gap: 19px;
                max-width: none;

                &:first-child img {
                    object-position: left;
                }

                &:nth-child(2n) {
                    flex-direction: row-reverse;

                    .figure {
                        right: -.5px;
                    }

                    .figcaption {
                        position: relative;
                        left: -106%;

                        &:last-child {
                            margin-right: 3px;
                        }
                    }

                    .content {
                        padding: 45px 0 0 0;
                    }
                }
            }

            .figure {
                max-width: 340px;
                position: relative;
                right: 0.5px;
                margin-bottom: -17px;

                .figcaption {
                    position: relative;
                    bottom: 93%;
                    left: 106%;
                }
            }

            .img-wrap {
                max-width: 340px;
                height: 240px;
            }

            .content {
                max-width: 340px;
                padding: 44px 0 0 1px;
            }
        }
    }

    .most-popular-section {
        margin-bottom: 70px;

        .popular-list {
            margin-bottom: 65px;
            gap: 19px;
            justify-content: space-evenly;
        }

        li {

            .figure {
                max-width: 340px;

                .figcaption:last-child {
                    margin-right: 3px;
                }
            }

            .img-wrap {
                position: relative;
                max-width: 340px;
                height: 160px;
                right: -.5px;
            }

            &:first-child {
                .img-wrap {
                    right: .5px;
                }
            }

            .content {
                max-width: 340px;
            }

            &:last-child {
                h3 {
                    margin-bottom: 21px;
                }
            }
        }

        h3 {
            font-size: 1.375rem;
            letter-spacing: 0.1375rem;
            margin-bottom: 21px;
        }

        .btn-wrap {
            margin-bottom: 70px;
        }

        .section-footer {
            display: block;

            &>p {
                padding-bottom: 32px;
            }

            .smaller-text {
                text-align: end;
                padding-left: 10px;

                p {
                    width: 100%;
                    max-width: none;
                }

                p:first-child {
                    margin-bottom: 21px;
                }
            }
        }
    }

    footer {
        padding: 50px 198px;
        text-align: center;

        .container {
            width: min(100%, 1170px);
        }

        h2 {
            letter-spacing: 0.141rem;
            margin-bottom: 20px;

            &+span {
                margin-bottom: 14px;
            }
        }

        span:last-child {
            margin-bottom: 47px;
        }

        ul {
            position: relative;
            left: 13.8%;
        }

        .copyright {
            position: relative;
            bottom: -42px;
        }
    }
}

@media screen and (max-width: 544px) {

    .container {
        width: min(94%, 300px);
    }

    header {
        .container>picture {
            margin-right: 0;
        }

        .short-nav {
            gap: 20px;
        }
    }

    .hero-section {
        height: 500px;
        padding-top: 70px;

        h1 {
            font-size: 1.875rem;
            letter-spacing: 0.09375rem;
        }
    }

    .blog-section {
        text-align: center;

        .blog-list {
            li {
                flex-direction: column-reverse;
                text-align: left;
                gap: 38px;

                h3 {
                    font-size: 1.375rem;
                    letter-spacing: 0.1375rem;
                    margin-bottom: 11px;
                }

                &:last-child .img-wrap {
                    right: .5px;
                    top: -.5px;
                }
            }

            hgroup p:first-child {
                margin-bottom: 30px;
            }

            hgroup p:last-child {
                margin-bottom: 38px;
            }

            .content {
                &>p {
                    letter-spacing: 0.063rem;
                }
            }

            .img-wrap {
                max-width: 300px;
                height: 250px;
                position: relative;
                right: -1px;
            }
        }
    }

    .posts-section {

        .h-div {
            display: block;
            margin-bottom: 27.5px;

            h2 {
                line-height: 2.25rem;
                letter-spacing: 0.0875rem;
                display: block;
                margin-bottom: 8px;
            }

            a {
                position: static;
            }
        }

        .posts-list {
            margin-bottom: 65px;

            li {
                flex-direction: column;
                margin-bottom: 49px;

                &:nth-child(2n) {
                    flex-direction: column;

                    .figure {
                        right: .5px;
                    }

                    .figcaption {
                        position: static;
                        font-size: 1rem;
                        letter-spacing: 0.1rem;
                    }

                    .content {
                        padding: 21px 0 0;

                        h3 {
                            margin-bottom: 22px;
                        }
                    }

                    // .img-wrap {
                    //     right: .5px;
                    // }
                }

                .figcaption {
                    position: static;
                    font-size: 1rem;
                    letter-spacing: 0.1rem;
                }

                .content {
                    padding: 21px 0 0 0px;
                }
            }

            .img-wrap {
                width: 300px;
                height: 210px;
                position: relative;
                right: -.5px;
            }
        }
    }

    .most-popular-section {
        .h-div {
            display: block;
            margin-bottom: 27px;

            h2 {
                margin-bottom: 3px;
                letter-spacing: 0.0875rem;
            }

            a {
                position: static;
            }
        }

        .popular-list {
            display: block;
            margin-bottom: 92px;

            li {
                margin-bottom: 50px;

                &:last-child {
                    h3 {
                        margin-bottom: 11px;
                    }
                }
            }

            .img-wrap {
                width: 300px;
                height: 150px;
                margin-bottom: 21px;
                right: .1px;
                top: -0.5px;
            }

            .figure {
                margin-bottom: 10px;
            }

            .figcaption {
                font-size: 1rem;
                letter-spacing: 0.1rem;
                line-height: 1.75rem;
            }

            h3 {
                font-weight: 600;
                padding-right: 1px;
                margin-bottom: 13px;
                line-height: 2.313rem;
            }

            .btn-wrap {
                margin-bottom: 71px;
            }
        }


        .section-footer {
            p {
                font-size: 1.5rem;
                letter-spacing: 0.15rem;
                padding: 0;
                margin-bottom: 10px;

                span {
                    bottom: 5px;
                }
            }

            .smaller-text {
                text-align: unset;
                padding: 0;

                p {
                    font-size: 1.125rem;
                    letter-spacing: 0.05625rem;
                    line-height: 2rem;
                }
            }
        }
    }

    footer {
        text-align: center;
        padding: 38px 0 0 0;

        .container {
            display: block;
        }

        h2 {
            font-size: 2rem;
            letter-spacing: 0.1rem;
            margin-bottom: 9px;

            &+span {
                margin-bottom: 16px;
            }
        }

        .info span {
            font-size: 1.125rem;
            letter-spacing: 0.1125rem;

            &:last-child {
                margin-bottom: 38px;
            }
        }

        .copyright {
            font-size: 1rem;
            letter-spacing: 0.1rem;
            position: static;
        }

        .soc-list {
            position: static;
            margin-bottom: 40px;
            padding-left: 8%;
        }

    }
}